@import url(https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight);

*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  height: 100vh;
  width: 100%;
  background-image: url("../believe.jpg");
  background-size: 300px 200px;
  background-attachment: fixed;
  background-position: bottom left;
  background-repeat: no-repeat;
  max-width: 100%;
  overflow-x: hidden;
}
.about-svvv{
  text-align: left;
}
.container-fluid{
  margin: 0;
}

.cont{
  height: 100vh;
  position: relative;
  text-align: center;
}

.register{
  width: 100%;
  height: 400px;
  margin-top: 140px;
  font-family: 'Raleway';
  font-weight: 300;
  text-align: center;
  z-index: 1;
}

.committee{
  height: 25vw;

}

.about-cont{
  margin-bottom: 100px;
}

.committee-heading{
  margin-top: 50px;
  margin-bottom: 50px;
}

.committee-heading h1 span{
  display: inline-block;
  position: relative;
  font-size: 3vw;
  font-family: "Zilla Slab Highlight";
  color: black;
}

span:before, span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    display: block;
    margin-top: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}


span:before {
    right: 100%;
    margin-right: 0.75em;
}

span:after {
    left: 100%;
    margin-left: 0.75em;
}

@media only screen and (max-width: 991px){
  .committee{
    height: 33vw;
  }
  span:before, span:after{
    display: none;
  }
  .committee-text{
      margin-top: 16vw;
  }
  .committee-heading h1 span{
    display: inline-block;
    position: relative;
    font-size: 6vw;
  }
  .committee-heading{
    margin-top: 0px;
  }
  .about-cont h3{
    font-size: 4vw;
  }
  .about-cont h2{
    font-size: 5vw;
  }
  body{
    background-size: 250px 150px;
  }
  .register{
    margin-top: 80px;
  }
}
