*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  height: 100vh;
  width: 100%;
}

.container-fluid{
  margin: 0;
}

.register-cont{
  font-size: 1.5vw;
}

.cont{
  height: 100vh;
  position: relative;
  text-align: center;
}

.register{
  width: 100%;
  height: 400px;
  margin-top: 140px;
  font-family: 'Raleway';
  font-weight: 300;
  text-align: center;
}

.apply{
  width: 50%;
  height: 30px;
  background-color: black;
  color: white;
  margin: 0 auto;
  font-family: 'Raleway';
  font-weight: 300;
  padding-top: 6px;
  cursor: pointer;
  text-decoration: none;
}


.committee-heading{
  margin-top: 150px;
  margin-bottom: 50px;
}

.committee-heading h1 span{
  display: inline-block;
  position: relative;
  font-size: 3vw;
}

h2 span{
  display: inline-block;
  position: relative;
  font-size: 2vw;
}

span:before, span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    display: block;
    margin-top: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}

h2 span:before, h2 span:after{
  width: 10%;
}


span:before {
    right: 100%;
    margin-right: 0.75em;
}

span:after {
    left: 100%;
    margin-left: 0.75em;
}

@media only screen and (max-width: 991px){
  .delegate{
    margin-bottom: 30px;
  }
  span:before, span:after{
    display: none;
  }

  h2 span{
    font-weight: 400;
    font-size: 4vw;
  }
  .committee-heading h1 span{
    display: inline-block;
    position: relative;
    font-size: 7vw;
  }
  .register{
    margin-top: -20px;
  }
  .register-cont{
    font-size: 3.5vw;
  }
}
